/* index.css o App.css */

/* Asegura que html y body ocupen toda la altura de la ventana */
html, body {
  height: 100%;
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
}

/* Asegura que el root también ocupe toda la pantalla */
#root {
  height: 100%;
}
