/* Estilos*/
/* Asegurar que el contenedor ocupa toda la pantalla */
  .container {
      max-width: 100%;
    }

  /* Fijar el título y el input en la parte superior */
  .fixed-header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    padding: 10px 0;
    text-align: center;
  }
  
  /* Contenedor de la tabla para hacer scroll independiente */
  .table-container {
    max-height: 60vh;
    overflow-y: auto;
    width: 100%;
  }
  
  /* Mejora la tabla en dispositivos pequeños */
  .table-responsive {
    overflow-x: auto;
  }
  
  /* Estilos para el input de búsqueda */
  .search-input {
    width: 100%;
    max-width: 400px;
  }
  
  /* Ajustes responsivos */
  @media (max-width: 768px) {
    .table-container {
      max-height: 50vh;
      overflow-y: auto;
    }
  
    .table th,
    .table td {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 769px) {
    .table-container {
      max-height: none;
      overflow-y: visible;
    }
  }
  
  /* Animaciones */
  /* Animación de Rebote Suave */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  /* Animación al h2 */
  .animated-title {
    animation: bounce 1.5s ease-in-out infinite;
  }

